.logo-img {
    width: 50px;
    height: 50px;
    border-radius: 100%;
}
.header {
    border: 1px black solid;
    padding: 2px;
}

.asp-div    {
    display: flex;
    gap: 6px;
    justify-content: space-evenly;
    align-content: center;
}

.asp-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    gap: 3px;
}

.asp-img {
    border-radius: 100%;
    width: 100px;
    height: 100px;
}


